<footer class="gap-[22.4375rem] flex items-center h-[4.9375rem] w-[69.375rem] mt-[5.4375rem]">
  <div class="flex items-start gap-[3rem]">
    <img src="../../../assets/logo.svg" alt="logo"/>
    <p>
      All rights reserved  Equalizer 2021 <br>
      Have any problems? Contact us via social media or<br>
      email us at <b>equalizer@example.com</b>
    </p>
  </div>
  <div class="flex gap-4">
    <img src="../../../assets/icon-facebook.svg" alt="facebook"/>
    <img src="../../../assets/icon-instagram.svg" alt="instagram"/>
    <img src="../../../assets/icon-twitter.svg" alt="twitter"/>
  </div>
</footer>
