<header class="flex ">
  <div class="flex flex-col gap-y-[7.9375rem]">
    <img src="../../../assets/logo.svg"class="h-[2rem] w-[9.125rem] mt-12"  alt="logo">
    
    <div class="flex flex-col gap-y-[1.5rem]">
      <h2 class="font-bold text-[5.5rem] leading-[5.5rem]">We make your music sound extraordinary</h2>
      <p>
        A system audio equalizer specifically designed for Android and iOS. Freely
        tune the way your <br> music sounds with a professional grade parametric 
        EQ & volume mixer. Control bass, mids,<br> treble, gain control, reverb, and more!
        
      </p>
    </div>
  </div>
  <img class="" src="../../assets/header-design.png" alt="bg-design"/>
</header>
